/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* Header design */

.top-banner{
    display: flex;
    justify-content: center;
    background-color: hsla(243, 62%, 39%, 1);
    margin-bottom: 70px;  
   
}
.left-banner{
    color: hsla(0, 0%, 100%, 1);
    font-size: 40px;
    width: 485px;
}
.button a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 24px;
    background-color: hsla(338, 75%, 53%, 1);
}
.arrow{
    font-size: 25px;
    margin-left: 12px;
}
.banner{
    margin-left: 50px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    padding: 86px;
    
   
}

.banner:hover {
    transform: scale(1.5);
    transition: transform 2s  delay 2s;
  
}

/* main body design */
.container{
    display: flex;
    justify-content: center;
}

.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px; 
    grid-column-gap: 30px;

}
.player{
    width: 300px;
    padding: 25px;
    border: 1px solid white;
    box-shadow: 0px 0px 4px;
    
}
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-detail{
    width: 300px;
    height: 156px;
}
/* Another section */
.container-b{display: flex;  
   justify-content: center;
}
.sponsors{
    font-size: 30px;
    color: hsla(243, 62%, 39%, 1);
    margin-left: 180px;
}
.sponsors-link{
    display: flex;
    font-size: 130px;
}
.discover{
    color: indianred;
}
.jcb{color: rgb(43, 54, 218);

}
.stripe{
    color: olivedrab;
}
.cpanel{
    color: peru;
}
/* Footer design */
.footer-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon{
    color: gray;
   font-size: 25px;
}
.fab{
    margin: 14px;
}
/*------------------
Mobile and Tab screen
-------------------- */

/* Mobile */

@media only screen and (max-width: 688px) {

    .top-banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .top-players{
        grid-template-columns: repeat(1, 1fr);
    }


  }
  /* For Tab */
  @media only screen and (min-width:688px) and
   (max-width: 992px) {
       .top-banner{
           display: grid;
           grid-template-columns: repeat(1, 1fr);
       }
       .top-players{
           grid-template-columns: repeat(2, 1fr);
       }
      
  }
  
  
   

    

